body {
    margin: 0%;
    font-family: 'Lato', sans-serif;
}

/* ---------------
------header------
----------------- */
h1 {font-weight: 900;
    font-size: 70px;
}

.link-button{
    color: white;
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 30px;
  }

 .container1 {
    width: 531px;
    height: 424px;
    left: 257px;
    margin-bottom: 150px;
    }
    
    
    header {
        color: white;
        background-color: rgb(26, 23, 23);
        display: flex;
        width: 1225px;
        height: 646px;
        bottom: 50px;
        align-items: flex-end;
        justify-content: space-evenly;
        border-radius: 10px;
        margin: 100px 70px 100px 57px ;
        padding-left: 30px;
        
        }

        .img-1 {
            width: 581px;
            height: 613px;
            left: 801px;
             top: 83px;
         }


/* ---------------
------Aside------
----------------- */

.link-button-2 {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 30px;
}

       aside {background-color: rgb(29, 25, 25);
        height: 312px;
        width: 312px;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        border-radius: 10px;
        margin: 10px 20px 100px 70px;
        
        
       }

      
       /* ---------------
------Grid part------
----------------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog{
    position: relative;
    left: 8px;
    }

.box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 285px;
    height: 250px;
    padding: 0px 0px 70px 0px;
    margin: 10px;
    border: ridge rgb(228, 214, 214) 0.80px;
    border-radius: 10px;
}  
 
 

.transfer {
    text-decoration: none;
    color: black;
    border: solid rgb(75, 67, 67) 2px;
    border-radius: 5px;
    padding: 8px 5px;
    margin: 10px;
}

.img-2{
    margin-bottom: 10px;
 }

.feedback {
    width: 250px;
    display: flex;
    justify-content: space-between;
}


.middle-part {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
    
   }
   
/*-------website-2---------*/

.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 250px;
    padding: 0px 0px 0px 0px;
    margin: 10px;
    border: ridge rgb(228, 214, 214) .80px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
}




       /* ---------------
------footer------
----------------- */

.footer-heading {
    color: white;
    text-align: center;
}
footer {
    background-color: rgb(10, 4, 4);
    height: 444px;
    padding: 80px;
    
}
hr {
    width: 1100px;
}

.footer-links {
    text-decoration: none;
    color: rgb(218, 218, 212);
   }

  .footer-links-parent { display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 40px;
    
  }


/* ---------------
------Media Queries------
-----------------*/


/*---------------
    Mobile devices
-----------------*/
@media only screen and (max-width:688px) {

        header {background-color: rgb(37, 35, 35);
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 0 100px 0 ;
            padding: 0 0 0 0;
            
        }   
         .heading { width: 200px;
        font-size: 15px;
        font-weight: 600;
    }
  
    .container1 {
        width: 80%;
        height: 60%;
        
        }
        
        .img-1{
            width: 200px;
            height: 300px;

        }
    





        .middle-part{
            display: flexbox;
            flex-direction: column;
            align-items: flex-end;
        }
        aside { background-color: white;
    }

     .link-button-2 {
        border: solid gray 0.8px;
     }
        .blogs{
            display: flex;
            flex-direction: column;
             }
             /*======---=======-*/
         hr {width: 200px;

         }
        .footer-links-parent{
            display: flex;
            flex-direction: column;
        }
        .icons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
}


/*===========================================================
         Tab devices     
==========================================================*/

@media only screen and (min-width: 688px) and (max-width: 992px) {

    header {
        color: white;
        background-color: rgb(26, 23, 23);
        display: flex;
        width: 100%;
        height: 60%;
        bottom: 50px;
        align-items: flex-end;
        justify-content: space-around;
        border-radius: 10px;
        margin: 100px 70px 100px 57px ;
        padding-left: 30px;
        
        }

        .heading { width: 200px;
            font-size: 15px;
            font-weight: 600;
        }

        .container1 {
            width: 350px;
            height: 700px;  }
        .img-1{
            width: 350px;
            height: 650px;

        }







    .middle-part{
        display: flexbox;
        flex-direction: column;
        align-items: center;
    }
    aside { display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: white;
}

 .link-button-2 {
    border: solid gray 0.8px;
    position: relative;
    left: 35px;
    margin: 10px 10px 10px 10px;
    padding: 0 30px 0 30px;
 }


 .link-button {
    border: solid rgb(231, 8, 8) 0.8px;
    position: relative;
    left: 35px;
    margin: 10px 10px 10px 10px;
 }
      .blogs {
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }

         footer {
            width: 100%;
         }

      hr {width: 90%;

      }
 

}
